.vscode

# This file tells Git which files shouldn't be added to source control

.idea
dist
node_modules
storage

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
